# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

assets/*

lightgalleryjs/*

uploads/*

*.php

dbpurnadrive.sql
admin.php
delete.php
form.php
index.php
upload.php