@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}
.box {
  position: relative;
  width: 300px;
  height: 600px;
  background: #666;
  border-radius: 50px;
}
.box::before {
  content: "";
  position: absolute;
  inset: 3px;
  background: #000;
  border-radius: 48px;
}
.inner {
  position: absolute;
  inset: 3px;
  background: url("https://i.pinimg.com/originals/11/31/75/11317515c5e2b8f45bf2908787950fb6.png");
  /* background: url("https://wallpaperaccess.com/full/4843936.jpg"); */
  /* background: url("https://images.squarespace-cdn.com/content/v1/51a26726e4b0f0ad7357f298/1624568139353-XSVM4AJSI7A6TSGWH3FZ/macOS_Monterey_wallpaper_darkmode.jpg"); */
  /* background: url("https://r1.ilikewallpaper.net/iphone-wallpapers/download/28761/Apple-Logo-Window-Dark-Broken-iphone-wallpaper-ilikewallpaper_com.jpg"); */
  background-size: cover;
  background-position: center;
  border-radius: 48px;
  border: 10px solid #000;
  display: flex;
  justify-content: center;
  /* opacity: 0.3; */
  transition: 0.5s;
  overflow: hidden;
}
.box:hover .inner {
  opacity: 1;
}
.btn {
  position: absolute;
  top: 110px;
  left: -2px;
  width: 3px;
  height: 26px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: radial-gradient(#ccc, #666, #222);
  z-index: 10;
}
.btn.btn2 {
  top: 160px;
  height: 40px;
}
.btn.btn3 {
  top: 220px;
  height: 40px;
}
.rightSideBtn {
  position: absolute;
  top: 170px;
  right: -2px;
  width: 3px;
  height: 70px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #f00;
  background: radial-gradient(#ccc, #666, #222);
  z-index: 10;
}
.island_popup {
  position: absolute;
  top: 10px;
  width: 90px;
  height: 25px;
  background: #000;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.island_popup:hover {
  width: 200px;
  height: 25px;
}
.island_popup.active {
  width: 250px;
  height: 60px;
  border-radius: 50px;
}
.content {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  line-height: 25px;
}
.content p {
  color: #fff;
  font-size: 0.9em;
  cursor: default;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  margin-left: 20px;
}
.content p i {
  margin-left: 20px;
}
.action {
  position: relative;
  top: 5px;
  color: #fff;
  display: flex;
  gap: 12px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.island_popup.active .action {
  top: 12px;
  right: 16px;
}
.island_popup:hover p,
.island_popup.active p,
.island_popup:hover .active,
.island_popup.active .action {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.25s;
}
.details {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details .imgBx {
  position: relative;
  width: 0;
  height: 0;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.5s;
}
.island_popup.active .details .imgBx {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.details .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.island_popup.active .fa-lock {
  display: none;
}
/* For Form */
.main {
  width: 350px;
  height: 500px;
  overflow: hidden;
}
#check {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}
.label-title {
  color: #fff;
  font-size: 2.3em;
  /* text-transform: uppercase;
  letter-spacing: 2px; */
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.inputBox {
  position: relative;
}
.inputBox input {
  background: #e0dede;
  /* background: transparent; */
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  /* border-radius: 5px; */
  font-size: 1rem;
  font-weight: 600;
  /* border-bottom: solid 2px #ccc; */
}
.inputBox span {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #ccc;
  padding: 2px;
  /* border-radius: 5px; */
  transition: all 400ms ease;
  /* cursor: pointer; */
  /* pointer-events: none; */
}
.inputBox input:focus {
  border-bottom: solid 1px #000;
}
.inputBox input:focus ~ span,
.inputBox input:valid ~ span {
  transform: translateY(-30px);
  font-size: 0.75rem;
  font-weight: 600;
  color: #000;
  background: transparent;
  /* background: #e0dede; */
  /* padding: 5px; */
  /* border-right: solid 1px blue; */
  /* border-left: solid 1px blue; */
  /* border-bottom: solid 1px blue; */
}
.signup .inputBox input {
  background: transparent;
  border-bottom: solid 1px #ccc;
  color: #fff;
}
.signup .inputBox input:valid ~ span,
.signup .inputBox input:focus ~ span {
  background: #000;
  color: #fff;
  transform: translateY(-25px);
  background: transparent;
}
.signup-btn,
.login-btn {
  /* width: 30%;
	height: 40px; */
  margin: 10px auto;
  padding: 10px 20px;
  justify-content: center;
  display: block;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  /* border-radius: 5px; */
  transition: 0.2s ease-in;
  cursor: pointer;
}
.signup-btn {
  color: #fff;
  background: transparent;
  outline: solid 2px #fff;
}
.signup-btn:hover {
  background: #fff;
  color: #573b8a;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.25),
    0 0 10px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.75),
    0 0 10px rgba(255, 255, 255, 1);
}
.login-btn {
  background-color: transparent;
  outline: solid 2px #573b8a;
  color: #573b8a;
  margin-top: 25px;
}
.login-btn:hover {
  background: #573b8a;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(127, 17, 224, 0.25),
    0 0 10px rgba(127, 17, 224, 0.5), 0 0 10px rgba(85, 0, 159, 0.75),
    0 0 10px rgb(42, 1, 79, 1);
  box-shadow: 0 0 10px rgb(42, 1, 79, 10.25), 0 0 10px rgb(42, 1, 79, 0.5),
    0 0 10px rgb(42, 1, 79, 0.75), 0 0 10px rgb(42, 1, 79, 1);
}
.signup-btn:active,
.login-btn:active {
  transform: scale(0.9);
}
.login {
  height: 460px;
  background: #eee;
  /* backdrop-filter: blur(50px); */
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: #573b8a;
  transform: scale(0.6);
}

#check:checked ~ .login {
  transform: translateY(-500px);
}
#check:checked ~ .login label {
  transform: scale(1);
}
#check:checked ~ .signup label {
  transform: scale(0.6);
}

.checkBox {
  text-align: left;
  margin-left: 7%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.checkBox input {
  cursor: pointer;
}
.checkBox span {
  color: #949292;
  font-size: 0.85rem;
  cursor: pointer;
  margin-left: 5px;
}
.checkBox a{
  color: #573b8a;
  font-size: 0.85rem;
  cursor: pointer;
  margin-left: 70px;
}
.checkBox a:hover{
  text-decoration: none;
}
.fa-solid {
  animation: fly 0.6s ease-in-out infinite alternate;
}
@keyframes fly {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}
