/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  /* --clr: #6783fd; */
  --clr: #5f54d6;

  --btn: radial-gradient(#ccc, #666, #222);
  --font_clr: rgba(255, 255, 255, 0.75);
}

::selection {
  color: #fafafa;
  background: var(--clr);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: rgba(255, 255, 255, 1); */
}

#drive {
  width: max(80%, 20%);
  height: max(90%, 20%);
  /* background-image: url("https://wallpapers.com/images/hd/macbook-pro-firewatch-sunrise-oei9rpkmlhhabaay.jpg"); */
  background-image: url("../img/indexbg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */

  padding: 30px;
  box-shadow: 0 0 70px rgba(0, 0, 0, 1);
  border-radius: 50px;
  outline: solid 1px #666;
  border: solid 10px rgba(0, 0, 0, 1);
  position: relative;
}
/* #drive:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.25);
  border-radius: 10px;
  z-index: 1;

} */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#drive header label {
  cursor: pointer;
  /* backdrop-shadow: 0 0 20px #000; */
  filter: drop-shadow(0 0 10px #000);
  /* padding-top: 1em; */
}
#drive {
  position: relative;
}

header .details {
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
  gap: 160px;
  position: absolute;
  top: -15px;
}
header .details a {
  color: #bdbdbd;
  text-decoration: none;
  font-size: 1.15rem;
  /* font-weight: 600; */
  transition: all 0.25s ease-in-out;
  /* margin-top: 20px; */
}
header .details a:hover {
  text-decoration: underline;
}
/* header .details a:nth-child(1){
  color:#0F9D58;
}
header .details a:nth-child(2){
  color:#DB4437;
} */

.details button {
  margin: 20px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.15rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.handwriting {
  width: 16rem;
  height: 5rem;
  transition: all 4s ease;
  transition-delay: 3s;
  /* pointer-events: none; */
}
.handwriting .purna-svg {
  position: relative;
  width: 100%;
  height: 100%;
  /* transform: translate(-5%); */
  margin-bottom: -5px;
  padding: 10px 0;
}
.handwriting .purna-svg .text {
  /* stroke: #fafafa; */
  stroke: #000;
  stroke-dasharray: 9000;
  stroke-dashoffset: 9000;
  -webkit-animation: animate 5s linear 1 forwards;
  animation: animate-text 5s linear 1 forwards;
}
.handwriting .purna-svg .text:hover {
  /* stroke: #cdcdcd; */
  stroke: #000;
}
@-webkit-keyframes animate-text {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animate-text {
  to {
    stroke-dashoffset: 0;
  }
}

#drive form {
  /* height: min(100vh, 75vh); */
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border: 2px dashed var(--font_clr);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.drop-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
form :where(i, p) {
  /* color: var(--clr); */
  color: var(--font_clr);
}

form i svg {
  /* margin: 10vh 0 0 0; */
  margin-top: -20px;
  animation: fly 0.6s ease-in-out infinite alternate;
}

form p {
  margin-top: -70px;
  font-size: 1.5rem;
  animation: fly 0.6s ease-in-out infinite alternate;
}

@keyframes fly {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

@keyframes slide-right {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(-1px);
  }
}

@media screen and (max-width: 498px) {
  #drive {
    height: 75%;
  }
  #drive form {
    height: 85%;
  }
  #drive form input {
    height: 85%;
  }
  form i {
    font-size: 8em;
  }

  form p {
    font-size: 1.5em;
    width: 60%;
    text-align: center;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ========= Button =========*/

.btn {
  position: absolute;
  top: 110px;
  left: -15px;
  width: 6px;
  height: 25px;
  border-radius: 4px;
  background: var(--btn);
  z-index: -1;
}

.btn.btn2 {
  top: 160px;
  height: 40px;
}

.btn.btn3 {
  top: 220px;
  height: 40px;
}

.rightSideBtn {
  position: absolute;
  top: 170px;
  right: -15px;
  width: 6px;
  height: 70px;
  border-radius: 4px;
  background: var(--btn);
  z-index: -1;
}

/* ========= Dynamic Island =========*/
.dynamic-island {
  background-color: #000;
  width: 100px;
  height: 35px;
  padding: 0.5em;
  position: absolute;
  /* overflow: hidden; */
  top: 5px;
  border-radius: 50px;
  /* bottom: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 1; */
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.25s 0.5s ease-in-out;
  color: #e0d7ff;
  cursor: pointer;
}

.dynamic-island:hover {
  width: 200px;
  height: 35px;
  transition: all 0.25s 0s ease-in-out;
}

.dynamic-island.active {
  /* width: 350px; */
  width: max(35%, 270px);
  /* height: 60px; */
  /* height: max(10vh, 60px); */
  height: var(--height);
  overflow-y: auto;
  /* height: auto; */
  border-radius: 50px;
  transition: all 0.25s 0s ease-in-out;
}

.dynamic-island.active .details,
.dynamic-island.active .lens {
  display: none;
}

.dynamic-island .lens {
  /* position: sticky;
left: 100px; */
  position: absolute;
  /* position: fixed; */
  /* top: 53px; */
  right: calc(50% + -40px);
  /* left: 100px; */
}

.dynamic-island:hover .lens {
  position: absolute;
}

.action {
  /* position: relative; */
  color: #fff;
  /* display: flex; */
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.dynamic-island:hover p,
.dynamic-island.active p,
.dynamic-island:hover .active,
.dynamic-island.active .action {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.25s;
}

/* .details {
position: relative;
display: flex;
align-items: center;
justify-content: center;
} */
.text {
  padding: 10px;
  margin: 0;
}

.content {
  position: relative;
  /* display: flex; */
  width: 100%;
  /* justify-content: space-between; */
  padding: 2px;
  /* right: 50px; */
  /* line-height: 25px; */
}

/* .content .details a {
  color: #ffffff90;
  font-size: 0.9em;
  text-decoration: none;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  transition: all 0.25s ease-in-out;
  z-index: 9999;
  transform: translate(-30px, 0);
}
.dynamic-island:hover .content .details a {
  opacity: 1;
  visibility: visible;
}
.content .details a:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff;
} */
/* =========== File Upload Animation =========== */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  /* margin: 0 1vw; */
  /* width: max(100%, 20%); */
  padding: 0.25em;
}

section .row {
  /* margin: 10px 0; */
  background-color: rgba(255, 255, 255, 0.15);
  list-style: none;
  padding: 15px 20px;
  /* border-radius: 5px; */
  border-radius: 20px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

section .row i {
  color: var(--clr);
  font-size: 30px;
}

section .details span {
  font-size: 14px;
}

.progress-area .row .content {
  width: 100%;
  margin-left: 15px;
}

.progress-area .details {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}

.progress-area .content .progress-bar {
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}

.content .progress-bar .progress {
  height: 100%;
  width: 0%;
  background: var(--clr);
  border-radius: inherit;
}

.uploaded-area.onprogress {
  max-height: 150px;
}

.uploaded-area::-webkit-scrollbar {
  width: 0px;
}

.uploaded-area .row .content {
  display: flex;
  align-items: center;
}

.uploaded-area .row .details {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}

.uploaded-area .row .details .size {
  color: #aaa;
  font-size: 11px;
}

.uploaded-area i.fa-check {
  font-size: 16px;
}

/* =========== Loading Animation =========== */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  /* right: -100px; */
  right: -125px;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fdd;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/* LDS Ripple */
.lds-ripple {
  display: inline-block;
  position: relative;
  right: -100px;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* LDS Ripple */

.dynamic-island .lds-ellipsis,
.dynamic-island .lds-ripple {
  /* opacity: 0; */
  display: none;
}

.dynamic-island:hover .lds-ellipsis,
.dynamic-island:hover .lds-ripple {
  display: flex;
  margin: 0;
  margin-right: -12px;
  float: right;
  transform: scale(0.5);
  opacity: 0.75;
}

.dynamic-island.active .lds-ellipsis,
.dynamic-island.active .lds-ripple {
  display: none;
}

.dynamic-island::-webkit-scrollbar {
  width: 0.5em;
}

.dynamic-island::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}
.dynamic-island::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #686a71;
}
.dynamic-island:hover::-webkit-scrollbar-thumb {
  background-color: #2f3034;
}

/* 
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #876eb5;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */

#preloader {
  background-color: #1d1d1f;
  background-image: linear-gradient(to bottom, #434343 0%, black 100%);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  transform: scale(2);
}
.loader {
  width: 130px;
  height: 170px;
  position: relative;
  font-family: inherit;
  inset: 0;
  /* position: fixed; */
  top: calc(50% - 150px);
  left: calc(50% - 60px);
}

.loader::before,
.loader::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 30px;
  left: 15px;
  z-index: 1;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 20px solid #f5f5f7;
  transform: scale(0);
  transition: all 0.2s ease;
}

.loader::after {
  border-right: 15px solid transparent;
  border-bottom: 20px solid #f5f5f7;
}

.loader .getting-there {
  width: 120%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: -7%;
  font-size: 1rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--clr);
}

.loader .binary {
  width: 100%;
  height: 140px;
  display: block;
  color: var(--clr);
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 2;
  overflow: hidden;
}

.loader .binary::before,
.loader .binary::after {
  font-family: "Lato";
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.loader .binary:nth-child(1)::before {
  content: "P";
  animation: a 1.1s linear infinite;
}

.loader .binary:nth-child(1)::after {
  content: "u";
  animation: b 1.3s linear infinite;
}

.loader .binary:nth-child(2)::before {
  content: "r";
  animation: c 0.9s linear infinite;
}

.loader .binary:nth-child(2)::after {
  content: "n";
  animation: d 0.7s linear infinite;
}

.loader .binary:nth-child(3)::before {
  content: "a";
  animation: c 1.7s linear infinite;
}

.loader .binary:nth-child(3)::after {
  content: "a";
  animation: d 1.5s linear infinite;
}

.loader.JS_on::before,
.loader.JS_on::after {
  transform: scale(1.1);
}

@-webkit-keyframes a {
  0% {
    transform: translate(30px, 0) rotate(30deg);
    opacity: 0;
  }

  100% {
    transform: translate(30px, 150px) rotate(-50deg);
    opacity: 1;
  }
}

@-webkit-keyframes b {
  0% {
    transform: translate(50px, 0) rotate(-40deg);
    opacity: 0;
  }

  100% {
    transform: translate(40px, 150px) rotate(80deg);
    opacity: 1;
  }
}

@-webkit-keyframes c {
  0% {
    transform: translate(70px, 0) rotate(10deg);
    opacity: 0;
  }

  100% {
    transform: translate(60px, 150px) rotate(70deg);
    opacity: 1;
  }
}

@-webkit-keyframes d {
  0% {
    transform: translate(30px, 0) rotate(-50deg);
    opacity: 0;
  }

  100% {
    transform: translate(45px, 150px) rotate(30deg);
    opacity: 1;
  }
}
@keyframes a {
  0% {
    transform: translate(30px, 0) rotate(30deg);
    opacity: 0;
  }

  100% {
    transform: translate(30px, 150px) rotate(-50deg);
    opacity: 1;
  }
}

@keyframes b {
  0% {
    transform: translate(50px, 0) rotate(-40deg);
    opacity: 0;
  }

  100% {
    transform: translate(40px, 150px) rotate(80deg);
    opacity: 1;
  }
}

@keyframes c {
  0% {
    transform: translate(70px, 0) rotate(10deg);
    opacity: 0;
  }

  100% {
    transform: translate(60px, 150px) rotate(70deg);
    opacity: 1;
  }
}

@keyframes d {
  0% {
    transform: translate(30px, 0) rotate(-50deg);
    opacity: 0;
  }

  100% {
    transform: translate(45px, 150px) rotate(30deg);
    opacity: 1;
  }
}
